//colours
$grey: #333333;

//navigation colours
$nav-background: $grey;
$nav-text-colour: white;

//clock variables
$clock-text-colour: white;
$clock-bg-colour:  #b5d0e2;
$clock-border-colour: #2099e8;
